<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chapter_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,310},{325,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,309}}</string>
				<key>sourceSize</key>
				<string>{325,309}</string>
			</dict>

			<key>chapter_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,0},{324,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,309}}</string>
				<key>sourceSize</key>
				<string>{324,309}</string>
			</dict>

			<key>chapter_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,620},{324,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,310}}</string>
				<key>sourceSize</key>
				<string>{324,310}</string>
			</dict>

			<key>chapter_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,620},{325,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,309}}</string>
				<key>sourceSize</key>
				<string>{325,309}</string>
			</dict>

			<key>chapter_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,310},{324,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,309}}</string>
				<key>sourceSize</key>
				<string>{324,309}</string>
			</dict>

			<key>chapter_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,310},{324,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,310}}</string>
				<key>sourceSize</key>
				<string>{324,310}</string>
			</dict>

			<key>chapter_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{325,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,309}}</string>
				<key>sourceSize</key>
				<string>{325,309}</string>
			</dict>

			<key>chapter_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,621},{324,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,309}}</string>
				<key>sourceSize</key>
				<string>{324,309}</string>
			</dict>

			<key>chapter_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,0},{325,309}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{325,309}}</string>
				<key>sourceSize</key>
				<string>{325,309}</string>
			</dict>

			<key>iconfinder_a_88074.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,931},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>iconfinder_d_88102.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,931},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>itemrock.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{217,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,220}}</string>
				<key>sourceSize</key>
				<string>{217,220}</string>
			</dict>

			<key>tank4-export2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,1060},{52,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,67}}</string>
				<key>sourceSize</key>
				<string>{52,67}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{977,1151}</string>
			<key>textureFileName</key>
			<string>q&a.png</string>
			</dict>
		</dict>
</plist>