<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tank3-export1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>

			<key>tank3-export2.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,120},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>

			<key>tank3-export3.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,60},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>

			<key>tank3-export4.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,0},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>

			<key>tank3-export5.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,180},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>

			<key>tank3-export6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>

			<key>tank3-export7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>

			<key>tank3-export8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>textureFileName</key>
			<string>tank2.png</string>
			</dict>
		</dict>
</plist>